
*/.settings
*/.idea
*.class
*csproj.user
*.css.map

node_modules

*.log
.idea
.sass-cache
.DS_Store
tmp

.project
.settings

public/js

/report
/coverage
# ignore file system blob storage files
blob-local-storage


*.swp
*~

