html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title!= title
    script( type='text/javascript').
        function initGME() {
            console.log('gme-downloaded');
        };

body(on-gme-init='initGME()')
    div.container-fluid
        div#mainDiv.col-sm-12
        div#mainFooter.col-sm-12
            | Icons made by&nbsp;
            a(href='http://www.freepik.com', title='Freepik') Freepik
            |  from&nbsp;
            a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
            |  is licensed by&nbsp;
            a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY

    script(src='/js/main.js')
